body{
    margin: 0;
    background-color: #0A2740;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: Grid;
    grid-template-columns: 50px 1fr;
    justify-content: space-between;
    font-family: Arial;
    align-items: center;
    color: white;
    z-index: 10;
}
.container{
    display: grid;
    grid-template-columns: 1fr 65px;
    justify-content: end;
    align-items: center;
}
header img{
    margin-left: 10px;
}
#profile{
    height: 40px;
    border-radius: 100%;
    border-width: 1.8px;
    border-style: solid;
    border-color: #0A2740;;
}
.Home-btns{
    display: Grid;
    background-color: transparent;
    grid-template-columns: 70px 70px 95px;
    justify-content: space-around;
    height: 50px;
    grid-row: 50px;
    align-content: center;
    align-items: center;
}

.Home-btns a{
    border-style: solid;
    border-width: 1.5px;
    border-color: #048ABF;
    background-color: transparent;
    color: #0A2740;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
#about{
    background-color: #048ABF;
    color: white
}
.Home-btns a:hover{
    background-color: #048ABF;
    color: white;
}
.myWeb{
    display: flex;
    position: relative;
    color: white;
    display: flex;
    flex: 1;
}
.con1{
    background-color: #72E5F2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 70px;
    padding-bottom: 40px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.myPROFILE{
    display: grid;
    align-content: center;
    justify-content: center;
}
.aboutME{
    display: grid;
    text-align: center;
    justify-content: start;
    margin-left: 20px;
    margin-right: 20px;
}
#account{
    width: 180px;
    height: 180px;
    border-radius: 1000%;
    border-width: 1.8px;
    border-style: solid;
    border-color: #0A2740;;
}
.menubar{
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}
.sidePANEL{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 100px 0px;
    visibility: hidden;
    transition: grid-template-columns 0.5s, visibility 0.4s ease-in-out;
}
.sidePANEL-view{
    width: 100%;
    grid-template-columns: 280px 1fr;
    visibility: visible;
}

.sidebar{
    background-color: #72E5F2;
}

.side_con{
    display: grid;
    row-gap: 20px;
    align-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    visibility: hidden;
}.side_con-view{
    visibility: visible;
}
.side_con a{
    border-style: solid;
    border-width: 1.5px;
    border-color: #048ABF;
    background-color: transparent;
    color: #0A2740;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.side_con a:hover{
    transition: 1s;
    background-color: #0A2740;
    color: white;
}
#menuBAR{
    margin: 13px;
    width: 12%;
    border-radius: 5px;
    cursor: pointer;
}