@media only screen and (min-width: 700px){
    .container{
        grid-template-columns: 500px 60px;
    }
    .con1{
        height: 500px;
        background-size: 350px;
    }
    .aboutME{
        background-color: palevioletred;
    }
    .myPROFILE{
        height: 400px;
        justify-content: center;
    }
    #account{
        width: 300px;
        height: 300px;
    }
    .Portrait{
        width: 350px;
    }
    .con1 h1{
        font-size: 100px;
        margin-left: 9%;
    }
    .con1 p{
        font-size: 28px;
        margin-left: 10%;
    }
}